In [3]:
import numpy as np
from skimage import io

In [4]:
import pandas as pd

In [5]:
from tqdm.auto import tqdm

In [6]:
df = pd.read_csv('ea5_Julius/umap.csv', low_memory=False)

In [9]:
print(df.shape)
df.head()

(52206, 22)

,NUCLEUS METCENTER-X,NUCLEUS METCENTER-Y,well,fov_256,donor,id,umap_x,umap_y,fov_64,resolution_x,...,center_y,centroid_x,centroid_y,image_name,image_path,c1_imgpath,c2_imgpath,c3_imgpath,c4_imgpath,c5_imgpath
0,3799.229492,21876.675781,H2,159,AML1_M2,9,-1.207413,5.416854,39,0.149494,...,21767.972983,708.925877,1807.138106,p1_wH2_t1_m39_c1_z0_l1_o0.png,/mnt/fimm/EA5 Caroline/Julius_interactive plot...,/mnt/fimm/EA5 Caroline/Julius_interactive plot...,/mnt/fimm/EA5 Caroline/Julius_interactive plot...,/mnt/fimm/EA5 Caroline/Julius_interactive plot...,/mnt/fimm/EA5 Caroline/Julius_interactive plot...,/mnt/fimm/EA5 Caroline/Julius_interactive plot...
1,3905.091064,4040.277588,B2,234,AML1_M2,1,1.668570,5.921109,58,0.149494,...,4161.464855,1417.058363,269.350406,p1_wB2_t1_m58_c1_z0_l1_o0.png,/mnt/fimm/EA5 Caroline/Julius_interactive plot...,/mnt/fimm/EA5 Caroline/Julius_interactive plot...,/mnt/fimm/EA5 Caroline/Julius_interactive plot...,/mnt/fimm/EA5 Caroline/Julius_interactive plot...,/mnt/fimm/EA5 Caroline/Julius_interactive plot...,/mnt/fimm/EA5 Caroline/Julius_interactive plot...
2,3974.551758,4129.835938,B2,234,AML1_M2,7,-1.211912,5.889323,58,0.149494,...,4161.464855,1881.696971,868.426874,p1_wB2_t1_m58_c1_z0_l1_o0.png,/mnt/fimm/EA5 Caroline/Julius_interactive plot...,/mnt/fimm/EA5 Caroline/Julius_interactive plot...,/mnt/fimm/EA5 Caroline/Julius_interactive plot...,/mnt/fimm/EA5 Caroline/Julius_interactive plot...,/mnt/fimm/EA5 Caroline/Julius_interactive plot...,/mnt/fimm/EA5 Caroline/Julius_interactive plot...
3,3892.813477,4116.119629,B2,234,AML1_M2,12,-1.311539,5.806268,58,0.149494,...,4161.464855,1334.930745,776.675321,p1_wB2_t1_m58_c1_z0_l1_o0.png,/mnt/fimm/EA5 Caroline/Julius_interactive plot...,/mnt/fimm/EA5 Caroline/Julius_interactive plot...,/mnt/fimm/EA5 Caroline/Julius_interactive plot...,/mnt/fimm/EA5 Caroline/Julius_interactive plot...,/mnt/fimm/EA5 Caroline/Julius_interactive plot...,/mnt/fimm/EA5 Caroline/Julius_interactive plot...
4,3856.181641,4145.979980,B2,234,AML1_M2,16,3.439832,-0.883217,58,0.149494,...,4161.464855,1089.891941,976.418103,p1_wB2_t1_m58_c1_z0_l1_o0.png,/mnt/fimm/EA5 Caroline/Julius_interactive plot...,/mnt/fimm/EA5 Caroline/Julius_interactive plot...,/mnt/fimm/EA5 Caroline/Julius_interactive plot...,/mnt/fimm/EA5 Caroline/Julius_interactive plot...,/mnt/fimm/EA5 Caroline/Julius_interactive plot...,/mnt/fimm/EA5 Caroline/Julius_interactive plot...

Calculate mean

In [14]:
df.shape, df[col].unique().shape

((52206, 22), (3491,))

In [ ]:
means = {}
for col in ['c1_imgpath', 'c2_imgpath', 'c3_imgpath', 'c4_imgpath', 'c5_imgpath']:
    means[col] = 0
    for imgpath in tqdm(df[col].unique()):
        img = io.imread(imgpath)
        means[col] += np.mean(img)
    means[col] = means[col] / df[col].size
print(means)

  0%|          | 0/3491 [00:00<?, ?it/s]

In [ ]:
mean

Calculate std

In [ ]:
stds = {}
for col in ['c1_imgpath', 'c2_imgpath', 'c3_imgpath', 'c4_imgpath', 'c5_imgpath']:
    for imgpath in tqdm(df[col].unique()):
        img = io.imread(imgpath)
        stdTemp += ((img - means[col])**2).sum() / (img.shape[0]*img.shape[1])
    stds[col] = np.sqrt(stdTemp/df[col].size)
print(stds)

In [ ]:
for i, imgpath in enumerate(tqdm(df.imagepath)):
    img = io.imread(str(imgpath))
    stdTemp += ((img - mean)**2).sum() / (img.shape[0]*img.shape[1])
std = np.sqrt(stdTemp/df.imagepath.size)

In [ ]:
std